{% extends 'home.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}
{% if user.is_authenticated%}
  <div class="profile-container">
    <div class="profile-header">
    
    </div>
    <div class="profile-img">
    
    </div>
    <div class="profile-info">
    
    </div>
    <div class="profile-desc">
    
    </div>
  </div>
{%endif%}
{% endblock %}