{% extends 'home.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/profile_detail.css' %}"/>
{% endblock %}

{% block content %}
<section>
{% if user.is_authenticated%}
  <div id="profile-container">
    <div class="profile-header">
    </div>
    <div class="profile-img">
      <img src="{%static 'css/images/default_profile.jpg'%}" alt="">
    </div>
    <div class="profile-info">
      <div class="profile-type">
        <h3>Role</h3>
        <h4>{{user.type}}</h4>
      </div>
      <div class="profile-fname">
        <h3>First Name</h3>
        <h4>{{user.first_name}}</h4>
      </div>
      <div class="profile-uname">
        <h3>User Name</h3>
        <h4>{{user.user_name}}</h4>
      </div>
      <div class="profile-sdate">
        <h3>Joined On</h3>
        <h4>{{user.start_date}}</h4>
      </div>
      <div class="profile-email">
        <h3>Email</h3>
        <h4>{{user.email}}</h4>
      </div>
      <div class="profile-active">
        <h3>Online</h3>
        <h4>{{user.is_active}}</h4>
      </div>
    </div>
    <div class="profile-desc">
      <p>{{user.about}}</p>
    </div>
  </div>
{%endif%}
</section>
{% endblock %}