{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profiles_index.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<div class="profile-container">
  {% for profile in profiles %}
      <div class="profile-card">
        <div class="profile-card-img">
          <img src="{%static 'css/images/employees.png'%}" width ="100" height="100" alt="">
        </div>
        <div class="profile-card-user">
            <h2 class="card-title">{{ profile.first_name}}</h2>
            <p>{{profile.email}}</p>
        </div>
        <div class="profile-card-info">
          <p>{{profile.start_date}}</p>
          {%if user.type == 'MANAGER' %}
          {%if profile.type != 'MANAGER'%}
          <a href="{% url 'profiles_delete' profile.id %}" class="btn danger">Delete</a>
          {%endif%}
          {%endif%}
        </div>
      </div>
{%endfor%}
</div>
{% endblock %}