{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
{% endblock %}

{% block content %}

<section id="pageHeader">
  <h1>Employee List</h1>
</section>
<div class="grid-container">
  {% for employee in employees %}
    <div class="card">
        <div class="img">
          <a href="{% url 'employees_detail' employee.id %}">
            <i class='bx bx-id-card fa-9x'></i>
          </a>
        </div>
        <div class="content">
          <h2 class="card-title">{{ employee.f_name }} {{employee.l_name}}</h2>
        </div>
    </div>
  {% endfor %}
</section>
</div>
{% endblock %}