{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href=""
/>
{% endblock %}

{% block content %}
  
<div class="card" style="">
  <div class="card-bg" style=""></div>
  <div class="card-content">
    <h2>{{ owner.f_name }} {{owner.l_name}}</h2>
    <h3>{{owner.p_num}}</h3>
  </div>
</div>
<a href="{% url 'toys_update' toy.id %}" class="btn warn">Edit</a>
<a href="{% url 'toys_delete' toy.id %}" class="btn danger">Delete</a>

{% endblock %}