{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/task_list.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<div class="task-container">
  {% for task in task_list %}
      <div class="task-card">
        <div class="task-card-img">
          <a href="{% url 'tasks_detail' task.id %}">
          {%if task.type == 'K'%}
              <a href="{%url 'tasks_detail' task.id %}"><img src="https://img.icons8.com/external-vitaliy-gorbachev-blue-vitaly-gorbachev/50/000000/external-cleaning-labour-day-vitaliy-gorbachev-blue-vitaly-gorbachev.png"/></a>
              <h4>Kennel Cleaning</h4>
            {%endif%}
            {%if task.type == 'G'%}
              <a href="{%url 'tasks_detail' task.id %}"><img src="https://img.icons8.com/doodle/50/000000/dog-bone--v1.png"/></a>
              <h4>Group Play</h4>
            {%endif%}
            {%if task.type == 'M'%}
              <a href="{%url 'tasks_detail' task.id %}"><img src="https://img.icons8.com/ios/50/000000/hand-with-a-pill.png"/></a>
              <h4>Medication</h4>
            {%endif%}
            {%if task.type == 'F'%}
              <a href="{%url 'tasks_detail' task.id %}"><img src="https://img.icons8.com/ios/50/000000/hand-with-a-pill.png"/></a>
              <h4>Feeding</h4>
            {%endif%}  
          </a>
        </div>
        <div class="task-card-user">
            <h2 class="card-title">Employee: {{ task.employee.first_name}}</h2>
            <p>Start: {{task.start_time}} </p>
            <p>End: {{task.end_time}}</p>
        </div>
        <div class="task-card-info">
        {%if task.is_complete%}
          <h2 class="completed">Finished</h2>
        {%else%}
          <h2 class="notcompleted">Not Finished</h2>
        {%endif%}
        </div>
      </div>
{%endfor%}
</div>
{% endblock %}