{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<div class="main-header">
  <div class="main-header__heading">Hello (User Name)</div>
  <div class="main-header__updates">Recent Items</div>
</div>
<div class="grid-container">
  {% for task in task_list %}
    <div class="index-card">
        <div class="img">
          <a href="{% url 'tasks_detail' task.id %}">
            <i class='bx bx-task fa-9x' ></i>
          </a>
        </div>
        <div class="content">
          <h2 class="card-title">{{ task.type }} {{task.employee}}</h2>
        </div>
    </div>
  {% endfor %}
</section>
</div>

{% endblock %}