{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href=""
/>
{% endblock %}

{% block content %}

<section class="animal-container">
  <div class="animal-img">
    <img 
      src="" 
      alt="A skater boy animal"
    >
  </div>
  <div class="animal-details">
    <h1>{{ animal.name }}</h1>
    {% if animal.age > 0 %}
      <h2>A {{ animal.age }} year old {{ animal.breed }}</h2>
    {% else %}
      <h2>A {{ animal.breed }} kitten.</h2>
    {% endif %}
    <p>{{ animal.description }}</p>
    <div class="animal-actions">
      <a href="{% url 'animals_update' animal.id %}" class="btn warn">Edit</a>
      <a href="{% url 'animals_delete' animal.id %}" class="btn danger">Delete</a>
    </div>
  </div>
  </div>
</section>

{% endblock %}