{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/animal_detail.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<script defer src="{% static 'js/animal-detail.js' %}"></script>
{% endblock %}

{% block content %}
  
<div id="animal-container" >
  <div class="animal-img" style="">
    {% if animal.photo.url %}
      <img 
        src="{{animal.photo.url}}" 
        alt="A photo of {{animal.name}}"
        class="usr-img"
      >
       {% else %}
      <img 
        src="{% static 'images/sk8r-boi-cat.svg' %}" 
        alt="A skater boy cat"
      >
    {%endif%}
  </div>
  <div class="animal-info">
  <h3>Change {{ animal.name }}'s photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add_photo' animal.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
    <a href="{% url 'animals_update' animal.id %}" class="btn warn">Edit</a>
    <a href="{% url 'animals_delete' animal.id %}" class="btn danger">Delete</a>  
  </div>
  <div id="animal-card">
    <div class="breed">
    Breed
    </div>
    <div class="b_data">  
    <h2>{{animal.breed}}</h2>
    </div>
    <div class="age">
    Age
    </div>
    <div class="a_data">
    <h2>{{animal.age}}</h2>
    </div>
    <div class="owner">
    Owner:
    </div>
    <div class="owner_data">
    <h2>{{animal.user.first_name}}</h2>
    </div>
    <div class="description">
    Description:
    </div>
    <div class="d_data">
    <h2>{{animal.description}}</h2>
    </div>
  </div>
{%if user.type != "OWNER"%}
<div class="feeding-container">
    <div class="top">
      <h2>Feedings</h2>
    </div>
    <div class="add_feeding">
    <h3>Add a Feeding</h3>
      {% if animal.fed_for_today %}
        <p class="fed">{{animal.name}} has been fed all their meals for today!</p>
      {% else %}
      <form
      action="{% url 'add_feeding' animal.id %}" 
      method="post" 
      class="subsection-content"
    >
        <p class="unfed">{{animal.name}} might be hungry!</p>
      {% endif %}
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button id="feedingbtn" type="submit" class="btn submit">Add Feeding</button>
    </form>
    </div>
    {%endif%}
    <div class="past_feed">
    <h3>Past Feedings</h3>
    {% if animal.feeding_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Meal</th></tr>
        </thead>
        <tbody>
          {% for feeding in animal.feeding_set.all %}
            <tr>
              <td>{{feeding.date}}</td>
              <td>{{feeding.get_meal_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="subsection-content">{{animal.name}} has never been fed </p>
    </div>
    {% endif %}
</div>
{% endblock %}

