{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href=""/>
{% endblock %}

{% block content %}

<section id="pageHeader">
  <h1>Animal List</h1>
</section>

<section class="card-container">
  {% for animal in animals %}
    <div id="card">
      <a href="{% url 'animals_detail' animal.id %}">
        <div id="img">
            <img 
              src="" 
              alt="A skater boy animal"
            >
        </div>
        <div id="content">
            <h2 class="card-title">{{ animal.name }}</h2>
            {% if animal.age > 0 %}
                <p>A {{ animal.age }} year old {{ animal.type}}</p>
            {% else %}
                <p>A {{ animal.breed }} {{animal.type}}.</p>
            {% endif %}
                <p><small>{{ animal.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}