{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    {% comment %} href="{% static 'images/splash.svg' %}" {% endcomment %}
  >
  <script src="https://kit.fontawesome.com/406d84d012.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <script defer src="{% static 'js/sidebar.js' %}"></script>
  <title>Kennel Manager</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header class="header">
    <div class="header__avatar">
    <img src="{%static 'css/images/logo.png'%}" alt="">
    Kennel Manager
    </div>
  </header>
      <div class="sidebar">
        <div class="logo_content">
          <div class="logo">
            <div class="logo_name">Kennel Manager</div>
          </div>
          <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav_list">
        {% if user.is_authenticated%}
          {% if user.type != "OWNER" %}
            <li>
              <a href="{% url 'home' %}">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Home</span>
              </a>
                {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
            </li>
            <li>
              <a href="{% url 'profiles_index' %}">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">All Employees</span>
              </a>
                {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
            </li>
            <li>
              <a href="{% url 'animals_index' %}">
                <i class="fas fa-paw"></i>
                <span class="links_name">All Animals</span>
              </a>
                {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
            </li>
            <li>
              <a href="{% url 'tasks_index' %}">
                <i class='bx bx-task' ></i>
                <span class="links_name">All Tasks</span>
              </a>
                {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
            </li>
            <li>
              <a href="{% url 'about' %}">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">About</span>
              </a>
                {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
            </li>
            <li>
              <a href="{% url 'logout' %}">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Log Out</span>
              </a>
                {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
            </li>
          {% else %}
            <li>
              <a href="{% url 'home' %}">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Home</span>
              </a>
                {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
            </li>
            
            <li>
              <a href="{% url 'animals_index'%}">
                <i class="fas fa-paw"></i>
                <span class="links_name">My Animals</span>
              </a>
                {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
            </li>
            <li>
              <a href="{% url 'logout' %}">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Log Out</span>
              </a>
                {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
            </li>
          {%endif%}
        {%else%}
          <li>
            <a href="{% url 'about' %}">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name">About</span>
            </a>
              {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
          </li>
          <li>
            <a href="{% url 'login' %}">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name">Login</span>
            </a>
              {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
          </li>
          <li>
            <a href="{% url 'signup' %}">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name">Sign Up</span>
            </a>
              {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
          </li>
          {% endif %}
    </ul>        
  </div>
  <main class="main">   
    {% block content %}
    {% endblock %}
  </main>
  <footer class="footer">
    <div class="footer__copyright">&copy; 2021 N001CE All image icons used from : <a href="icons8.com">icons8.com</a></div>
    <div class="footer__signature">Made for educational purposes</div>
  </footer>
</body>
</html>