{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    {% comment %} href="{% static 'images/splash.svg' %}" {% endcomment %}
  >
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <script defer src="{% static 'js/sidebar.js' %}"></script>
  <title>Kennel Manager</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <div class="sidebar">
    <div class="logo_content">
      <div class="logo">
        <div class="logo_name">Kennel Manager</div>
      </div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav_list">
      <li>
        <a href="{% url 'animals_index' %}">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">All Animals</span>
        </a>
          {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
      </li>
      <li>
        <a href="{% url 'employees_index' %}">
          <i class='bx bx-id-card'></i>
          {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
          <span class="links_name">All Employees</span>
        </a>
      </li>
      <li>
        <a href="{% url 'tasks_index' %}">
          <i class='bx bx-task' ></i>
          <span class="links_name">All Tasks</span>
        </a>
          {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
      </li>
      <li>
        <a href="{% url 'animals_create' %}">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">New Animal</span>
        </a>
          {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
      </li>
      <li>
        <a href="{% url 'employees_create' %}">
          <i class='bx bx-id-card'></i>
          <span class="links_name">New Employee</span>
        </a>
          {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
      </li>
      <li>
        <a href="{% url 'tasks_create' %}">
          <i class='bx bx-task' ></i>
          <span class="links_name">New Task</span>
        </a>
          {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
      </li>
      <li>
        <a href="{% url 'about' %}">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">About</span>
        </a>
          {% comment %} <span class="tooltip">Dashboard</span> {% endcomment %}
      </li>
    </ul>        
  </div>
  </div>
  <div id="mainArticle">
    {% block content %}
    {% endblock %}
  </div>
 
</body>
</html>