{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    {% comment %} href="{% static 'images/splash.svg' %}" {% endcomment %}
  >
  <title>Cat Collector</title>
   <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
        <img 
          src="" 
          alt="Kennel Master"
        >
      </a>
    </div>
    <nav> 
      <ul>
          <li><a href="{% url 'animals_index' %}">All Animals</a></li>
          {% comment %} New link below {% endcomment %}
          <li><a href="{% url 'animals_create' %}">Add a Animal</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>