{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}
{% if user.is_authenticated%}
  {% if user.type != "OWNER" %}
  <div class="main-header">
    <div class="main-header__heading">Hello (User Name)</div>
    <div class="main-header__updates">Recent Items</div>
  </div>
  <div class="main-overview">
    <div class="overviewcard">
      <a href="{% url 'animals_index' %}">
        <i class="fas fa-paw fa-4x"></i>
      </a>
      <h1>Animals<h1>
    </div>
    <div class="overviewcard">
      <a href="{% url 'tasks_index' %}">
        <i class="fas fa-tasks fa-4x"></i>
      </a>
      <h1>Tasks</h1>
    </div>
    <div class="overviewcard">
      <a href="">
        <i class="far fa-address-card fa-4x"></i>
      </a>
      <h1>Employees</h1>
    </div>
  </div>
  <div class="main-cards">
    <div class="card">Requests</div>
    <div class="card">Completed Tasks</div>
    <div class="card">Available Employees</div>
  </div>
  {%else%}
  <div class="main-header">
    <div class="main-header__heading">Hello (User Name)</div>
    <div class="main-header__updates">Recent Items</div>
  </div>
  <div class="main-overview">
    <div class="overviewcard">
      <a href="{% url 'animals_index' %}">
        <i class="fas fa-paw fa-4x"></i>
      </a>
      <h1>Animals<h1>
    </div>
  {%endif%}
{% else %}
<div class="form-container">
<img src="{%static 'css/images/login_gif.gif'%}" alt="">
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button id="btn_form" type="submit">Log In</button>
</form>
</div>
{%endif%}
{% endblock %}