{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<header class="header">
  <div class="header__search">Kennel Master</div>
  <div class="header__avatar">Logo</div>
</header>
<div class="main-header">
  <div class="main-header__heading">Hello (User Name)</div>
  <div class="main-header__updates">Recent Items</div>
</div>
<div class="main-overview">
  <div class="overviewcard">
    <div class="overviewcard__icon">Animals</div>
    <div class="overviewcard__info">Card</div>
  </div>
  <div class="overviewcard">
    <div class="overviewcard__icon">Tasks</div>
    <div class="overviewcard__info">Card</div>
  </div>
  <div class="overviewcard">
    <div class="overviewcard__icon">Employees</div>
    <div class="overviewcard__info">Card</div>
  </div>
  <div class="overviewcard">
    <div class="overviewcard__icon">Customers</div>
    <div class="overviewcard__info">Card</div>
  </div>
</div>
<div class="main-cards">
  <div class="card">Requests</div>
  <div class="card">Completed Tasks</div>
  <div class="card">Available Employees</div>
</div>
<footer class="footer">
  <div class="footer__copyright">&copy; 2018 MTH</div>
  <div class="footer__signature">Made with love by pure genius</div>
</footer>

{% endblock %}