{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}
{% if user.is_authenticated%}
  {% if user.type != "OWNER" %}
  <div class="main-header">
    <div class="main-header__heading"><h1>Hello {{user.first_name}} </h1></div>
    <div class="main-header__updates">
      <a href="{%url 'profiles_update' user.id%}">Update Info</a>
    </div>
  </div>
  <div class="main-overview">
    <div class="overviewcard">
      <a href="{% url 'animals_create' %}">
        <i class="fas fa-paw fa-4x"></i>
      </a>
      <h1>Add Animals<h1>
    </div>
    <div class="overviewcard">
      <a href="{% url 'tasks_create' %}">
        <i class="fas fa-tasks fa-4x"></i>
      </a>
      <h1>Create A Task</h1>
    </div>
    <div class="overviewcard">
      <a href="{%url 'profiles_index'%}">
        <i class="far fa-address-card fa-4x"></i>
      </a>
      <h1>View Users</h1>
    </div>
  </div>
  <div class="main-cards">
    <div class="card">
    <h2>Tasks</h2>
    <div class="table-card">
    <table>
    <tbody>
      <th>Type</th>
      <th>Start</th>
      <th>End</th>
      <th>Employee</th>
    {% for task in tasks %}
    {%if task.is_complete == False%}
    {% if user.type == "EMPLOYEE" %}
    {% if task.user_id == user.id %}
      <tr>
        <td>
          {%if task.type == 'K'%}
              <a href="{%url 'tasks_detail' task.id %}"><img src="https://img.icons8.com/external-vitaliy-gorbachev-blue-vitaly-gorbachev/50/000000/external-cleaning-labour-day-vitaliy-gorbachev-blue-vitaly-gorbachev.png"/></a>
            {%endif%}
            {%if task.type == 'G'%}
              <a href="{%url 'tasks_detail' task.id %}"><img src="https://img.icons8.com/doodle/48/000000/dog-bone--v1.png"/></a>
            {%endif%}
            {%if task.type == 'M'%}
              <a href="{%url 'tasks_detail' task.id %}"><img src="https://img.icons8.com/ios/50/000000/hand-with-a-pill.png"/></a>
            {%endif%}
            {%if task.type == 'F'%}
              <a href="{%url 'tasks_detail' task.id %}"><img src="https://img.icons8.com/color/48/000000/dog-bowl.png"/></a>
            {%endif%}   
        </td>
        <td>{{task.start_time}}</td>
        <td>{{task.end_time}}</td>
        <td><a href="{%url 'profiles_detail' task.employee.id %}">{{task.employee.first_name}}</a></td>
      </tr>
      {%endif%}
    {%elif user.type == "MANAGER" %}
    <tr>
        <td>
          {%if task.type == 'K'%}
              <a href="{%url 'tasks_detail' task.id %}"><img src="https://img.icons8.com/external-vitaliy-gorbachev-blue-vitaly-gorbachev/50/000000/external-cleaning-labour-day-vitaliy-gorbachev-blue-vitaly-gorbachev.png"/></a>
            {%endif%}
            {%if task.type == 'G'%}
              <a href="{%url 'tasks_detail' task.id %}"><img src="https://img.icons8.com/doodle/48/000000/dog-bone--v1.png"/></a>
            {%endif%}
            {%if task.type == 'M'%}
              <a href="{%url 'tasks_detail' task.id %}"><img src="https://img.icons8.com/ios/50/000000/hand-with-a-pill.png"/></a>
            {%endif%}
            {%if task.type == 'F'%}
              <a href="{%url 'tasks_detail' task.id %}"><img src="https://img.icons8.com/ios/50/000000/hand-with-a-pill.png"/></a>
            {%endif%}   
        </td>
        <td>{{task.start_time}}</td>
        <td>{{task.end_time}}</td>
        <td>{{task.employee.first_name}}</a></td>
      </tr>
      {%endif%}
      {%endif%}
    {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    <div class="card">
    <h3>Current Animals</h3>
    <div class="animal-container">
    {% for animal in animals %}
    <div class="animal-card">
      <div class="animal-card-img">
        {%if animal.type == 'DOG'%}
              <a href="{%url 'animals_detail' animal.id %}"><img src="https://img.icons8.com/fluency/96/000000/dog.png"/></a>
            {%endif%}
            {%if animal.type == 'CAT'%}
              <a href="{%url 'animals_detail' animal.id %}"><img src="https://img.icons8.com/emoji/96/000000/cat-emoji.png"/></a>
            {%endif%}
            {%if animal.type == 'REPTILE'%}
              <a href="{%url 'animals_detail' animal.id%}"><img src="https://img.icons8.com/emoji/96/000000/snake-emoji.png"/></a>
            {%endif%}
            {%if animal.type == 'BIRD'%}
              <a href="{%url 'animals_detail' animal.id%}"><img src="https://img.icons8.com/color/96/000000/bird.png"/></a>
            {%endif%} 
      </div>
      <div class="animal-card-info">
        <h4>{{animal.name}}</h4>
        <h6>{{animal.breed}}</h6>
      </div>
    </div>
    {%endfor%}
    </div>
    </div>
    
  </div>
  {%else%}
  <div class="main-header">
    <div class="main-header__heading">Hello (User Name)</div>
    <div class="main-header__updates">Recent Items</div>
  </div>
  <div class="main-overview">
    <div class="overviewcard">
      <a href="{% url 'animals_create' %}">
        <i class="fas fa-paw fa-4x"></i>
      </a>
      <h1>Animals<h1>
    </div>
    </div>
    <div class="main-cards">
    <div class="card-owner">
    <h3>Current Animals</h3>
    <div class="animal-container">
    {% for animal in animals %}
    <div class="animal-card">
      <div class="animal-card-img">
        {%if animal.type == 'DOG'%}
          <a href="{%url 'animals_detail' animal.id %}"><img src="https://img.icons8.com/fluency/96/000000/dog.png"/></a>
        {%endif%}
        {%if animal.type == 'CAT'%}
          <a href="{%url 'animals_detail' animal.id %}"><img src="https://img.icons8.com/emoji/96/000000/cat-emoji.png"/></a>
        {%endif%}
        {%if animal.type == 'REPTILE'%}
          <a href="{%url 'animals_detail' animal.id%}"><img src="https://img.icons8.com/emoji/96/000000/snake-emoji.png"/></a>
        {%endif%}
        {%if animal.type == 'BIRD'%}
          <a href="{%url 'animals_detail' animal.id%}"><img src="https://img.icons8.com/color/96/000000/bird.png"/></a>
        {%endif%} 
      </div>
      <div class="animal-card-info">
        <h4>{{animal.name}}</h4>
        <h6>{{animal.breed}}</h6>
      </div>
    </div>
    {%endfor%}
    </div>
    </div>
    </div>
  {%endif%}
  {%endif%}
{% endblock %}