{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}
<div class="form-container">
    <img src="{%static 'css/images/login_gif.gif'%}" alt="">
    <h2>Log In</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="btn_form" type="submit">Log In</button>
        </form>
</div>
{%endblock%}