@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 78px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      "sidebar header"
      "sidebar main"
      "sidebar footer";
  }

.sidebar{
    position: fixed;
    grid-area: sidebar;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: blue;
    padding: 6px 25px;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 240px;
}

.main.active, .footer.active, .header.active{
    margin-left: 162px;
}

.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%)
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    border-radius: 12px;
}



.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color: #11101d;
    background: #fff;
    justify-content: center;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}

.header {
    grid-area: header;
    background-color: #648ca6;
}

.main {
    grid-area: main;
    background-color: #8fd4d9;
}

.footer {
    grid-area: footer;
    background-color: #648ca6;
}


.header, .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}


@media only screen and (min-width: 46.875em) {
/* Show the sidenav */
    body {
        grid-template-columns: 78px 1fr; /* Show the side nav for non-mobile screens */
        grid-template-areas:
        "sidebar header"
        "sidebar main"
        "sidebar footer";
    }

}