.form-container {
  background-color: rgba(255, 244, 244, 0.473);
  position:fixed;
  top: 30%;
  left: 50%;
  width:40em;
  height:25em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

.form-container img{
  background-image: url("images/paw.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  
h2{
  text-align: center;
}

.form-container p{
  padding-top: 30px;
  padding-left: 20px;
}
.form-container input{
  margin-left: 30px;
}

#id_password{
  margin-left: 65px;

}
#btn_form{
  margin-right: 60%;
  margin-left: 40%;
  width: 100px;
  margin-top: 20px;
}

@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
      .form-container {
          position:relative;
      }
  
  }