*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 150px; /* Force our height since we don't have actual content yet */
    background-color: #e3e4e6;
    color: slategray;
}


.main-overview {
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* Where the magic happens */
    grid-auto-rows: 94px;
    grid-gap: 20px;
    margin: 20px;
    margin-left: 100px;
}

.overviewcard {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(240, 75, 240, 0.651);
    border-radius: 90px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.overviewcard h1{
    margin-right: auto;
    margin-left: auto;
}
.main-cards {
    column-count: 2;
    column-gap: 20px;
    margin: 20px;
}

.card::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .card::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  .card::-webkit-scrollbar-thumb {
    background-color: #11171a;
    border-radius: 10px;
  }

.card {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #7e909ab6;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;}

.card:first-child {
height: 485px;
}

.card:nth-child(2) {
height: 485px;
margin-right: 10px;
width: 90%;
}

.card:nth-child(3) {
height: 200px;
width: 90%;
}

.table-card{
    margin-top: 20px;
    width: 100%;
    height: 80%;
    text-align:center;
}

.table-card table{
    column-gap: 4px;
    background-color: white;
    margin-top: 20px;
    width: 100%;
    border-spacing: 5px;
}

.table-card table th{
    width: 10%;
}

.table-card tbody tr:nth-child(odd){
    background-color: #4C8BF5;
    color: #fff;
  }

.animal-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "animal animal animal animal";
    grid-gap:20px;
    height: 100%;
    width: 100%;
}
/* Non-mobile styles, 750px breakpoint */
.animal-card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: rgba(255, 255, 255, 0.76);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr;
    grid-template-areas: 
        "img"
        "info";
    
}

.animal-card-info{
    grid-area: info;
    background-color: rgba(2, 2, 255, 0.521);
    text-align:center;
}

.animal-card-img{
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(#58151A,#BC2909,#BA6D09,#71A8EE,#3072EB);
    border-radius: 90px;
    height: 75%;
    
}

/* Medium-sized screen breakpoint (tablet, 1050px) */
@media only screen and (min-width: 65.625em) {
/* Break out main cards into two columns */
.main-cards {
    column-count: 2;
}
}